/* 

		***   ***   ***
		***   ***   ***
		***   ***  	  
		***   *********
		***   *********
		***   
		***************
		***************


What	LogoLand
Where	http://logoland.biz
Why		Get a Professional Logo at a Great Price in a Week
Who		Blankenship Office
When	Version: 1.1

*/


body {
	font-family: 'Work', sans-serif;
	margin: 0 auto;
}

body.borderlands {
	border-top: 1rem solid #222;
}

/* CONTAINERS */

header {
	margin: 0 auto;
	padding: 0;
}

section {
	margin: 0 auto;
	padding: 0;
}

.dark {
	background: #222;
	color: #eee;
}

/* TYPOGRAPHY */

h1 { 
	font: 700 5rem/5rem 'Poppins', sans-serif; 
	letter-spacing: -2px;
}

h2 { 
	color: #999;
	font: 400 3rem/3.5rem 'Poppins', sans-serif; 
	letter-spacing: -1px;
}

h3 { 
	font: 700 2.25rem/2.75rem 'Poppins', sans-serif;
	letter-spacing: -1px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h3 strong {
	font: 700 5rem/6rem 'Poppins', sans-serif;
}

p, li { 
	font: 1.5rem/2.1rem 'Work', sans-serif;
}

p strong { 
	font: 800 1.5rem/2.1rem 'Poppins', sans-serif;
	letter-spacing: .01em;
}

dd, dt { 
	font: 1.25rem/1.75rem 'Work', sans-serif;
} 

ul, ol {
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

ol li { 
	margin: 0 0 1.75rem; 
}

a { 
	color: inherit;
	border-bottom: 2px solid #777;
	padding-bottom: 1px;
	text-decoration: none; 
}

h1 a,
h2 a, 
h3 a {
	border: 0 none;
}

h1 a:hover { 
	color: #777; 
}

.gradient {
	background: linear-gradient(-175deg,#888 0,#222 85%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(34,34,34,.15);
}

.center { 
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
}

.section {
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: 50% 50%;
}

.section div {
	padding: 2rem 5rem;
}

button {
	white-space: nowrap;
	line-height: 2rem;
	background: #eee;
	border: 2px solid #777;
	color: #222;
	cursor: pointer;
	display: block;
	font: 700 2rem/2rem 'Poppins', sans-serif; 
	margin-bottom: 3rem;
	padding: 1rem 2rem;
	letter-spacing: .025em;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
}

button.center {
	margin: 0 auto;
}
button a { 
	border: none 0;
}

/* FAQs */

.faq {
	display: block;
	margin: 4rem auto;
	width: 50%;
}

dl dt { 
	background: #222;
	color: #eee;
	display: inline-block;
	font-weight: bold; 
	margin-bottom: .5rem;
	padding: .5rem .75rem;
}

dl dd { margin-bottom: 2rem; }


/* IMAGES */

figure {
	margin: 0;
	padding: 0;
}

figure img {
	width: 100%;
}

/* 3UP GRID OF LOGOS */

figure.logos{
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: 33.3333333% 33.3333333% 33.3333333%;
}

figure.logos img {
	padding: 0 .5rem;
	width: calc(100% - 1rem);
}

/* 2UP GRID OF MOCKS */

figure.mocks {
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: 50% 50%;
	margin: 0 auto;
}

figure.mocks img {
	padding: 0;
	width: 100%;
}


/* FOOTER */

footer {
	background: #222;
	color: #eee;
	margin: 0 auto;
	padding: 4rem;
	text-align: left;
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: 50% 50%;
	list-style-type: none;	
}	

footer ul {  
	list-style: none;
}

footer ul:nth-child(2) { 
	text-align: right; 
}

footer ul li {
	font: 1.5rem/1.5rem 'Work', sans-serif;
	margin-bottom: 1.5rem;
}

hr {
	border: 1px solid #ddd;
	margin: 0 auto;
	width: 50%;
}

/* tiny screens */

@media (max-width: 800px) {

	/* CONTAINERS */

	header {
		padding: 0;
	}

	header aside { 
		height: 40vmax;
	}

	header main {
		padding: 0 2rem 2rem;
	}

	section {
		padding: 1rem 2rem;
	}

	h1 { 
		font: 700 4rem/4rem 'Poppins', sans-serif; 
	}

	h2 { 
		font: 700 2.25rem/2.75rem 'Poppins', sans-serif; 
	}

	h3 { 
		font: 700 1.75rem/2.25rem 'Poppins', sans-serif;
		margin-bottom: 1rem;
	}

	h3 strong {
		font: 400 5rem/6.5rem 'Poppins', sans-serif;
	}

	p, li { 
		font: 1.5rem/2.1rem 'Work', sans-serif;
	}

	dd, dt { 
		font: 1.25rem/1.75rem 'Work', sans-serif;
	} 

	dl dd { 
		margin-left: 0; 
		padding-left: .75rem;
	}

	ol {
		list-style-position: inside;
	}

	ol li { 
		margin: 0 0 1.75rem; 
	}

	button {
		margin: 0 auto 4rem;
		text-align: center;
	}

	.center { 
		margin-left: 0;
		margin-right: 0;
		text-align: left; 
	}

	section.center {
		padding-bottom: 3rem;
	}

	/* FAQs */

	.faq {
		display: block;
	}

	/* IMAGES */

	figure {
		display: block;
	}

	figure img {
		padding: 0;
		width: 100%;
	}

	aside#flow {
		height: 100%;
	}

	/* FOOTER */

	footer {
		text-align: center;
		display: block;
	}	

	footer ul {  
		list-style: none;
	}

	footer ul:nth-child(2) { 
		text-align: center; 
	}

	footer ul li {
		font: 1.25rem/2.5rem 'Work', sans-serif;
	}

}

/* FIN FO REAL */

